USE [master]
GO

CREATE DATABASE [pro10]
GO

USE [pro10]
GO

IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
BEGIN
    EXEC [pro10].[dbo].[sp_fulltext_database] @action = 'enable'
END
GO
USE [pro10]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 5/16/2026 10:01:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Banner]    Script Date: 5/16/2026 10:01:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Banner](
	[bid] [int] IDENTITY(1,1) NOT NULL,
	[btitle] [nvarchar](max) NOT NULL,
	[bdescription] [nvarchar](max) NOT NULL,
	[ImageUrl] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Banner] PRIMARY KEY CLUSTERED 
(
	[bid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CartItems]    Script Date: 5/16/2026 10:01:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CartItems](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[AddedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_CartItems] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 5/16/2026 10:01:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[cid] [int] IDENTITY(1,1) NOT NULL,
	[cname] [nvarchar](450) NOT NULL,
	[Imageurl] [nvarchar](max) NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[cid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Coupons]    Script Date: 5/16/2026 10:01:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Coupons](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](50) NOT NULL,
	[DiscountValue] [decimal](18, 2) NOT NULL,
	[Type] [nvarchar](max) NOT NULL,
	[ExpiryDate] [datetime2](7) NULL,
	[IsActive] [bit] NOT NULL,
	[MinimumAmount] [decimal](18, 2) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[ProductId] [int] NULL,
 CONSTRAINT [PK_Coupons] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 5/16/2026 10:01:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[pid] [int] IDENTITY(1,1) NOT NULL,
	[pname] [nvarchar](max) NOT NULL,
	[pdes] [nvarchar](max) NOT NULL,
	[pprice] [decimal](18, 2) NULL,
	[pdis] [decimal](18, 2) NULL,
	[pdisprice] [decimal](18, 2) NOT NULL,
	[pqty] [int] NOT NULL,
	[Categoryid] [int] NOT NULL,
	[producttype] [nvarchar](max) NULL,
	[createdat] [datetime2](7) NOT NULL,
	[updatedat] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[pid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductColor]    Script Date: 5/16/2026 10:01:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductColor](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[pcolor] [nvarchar](max) NOT NULL,
	[productid] [int] NOT NULL,
 CONSTRAINT [PK_ProductColor] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductImage]    Script Date: 5/16/2026 10:01:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductImage](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ImageUrl] [nvarchar](max) NOT NULL,
	[productid] [int] NOT NULL,
 CONSTRAINT [PK_ProductImage] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductSize]    Script Date: 5/16/2026 10:01:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductSize](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[psize] [nvarchar](max) NOT NULL,
	[productid] [int] NOT NULL,
 CONSTRAINT [PK_ProductSize] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 5/16/2026 10:01:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[uid] [int] IDENTITY(1,1) NOT NULL,
	[uname] [nvarchar](50) NOT NULL,
	[uemail] [nvarchar](max) NOT NULL,
	[uphone] [nvarchar](max) NOT NULL,
	[upassword] [nvarchar](max) NOT NULL,
	[Image] [nvarchar](max) NULL,
	[urole] [nvarchar](max) NULL,
	[verifycode] [int] NULL,
	[verifycodetime] [datetime2](7) NULL,
	[verifystatus] [bit] NULL,
	[forgotpasscode] [int] NULL,
	[forgotpasstime] [datetime2](7) NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[uid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WishlistItems]    Script Date: 5/16/2026 10:01:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WishlistItems](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[AddedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_WishlistItems] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260324092731_usertable', N'9.0.15')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260331095658_users', N'9.0.15')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260425084531_banner-categorytable', N'9.0.15')
GO
SET IDENTITY_INSERT [dbo].[Banner] ON 

INSERT [dbo].[Banner] ([bid], [btitle], [bdescription], [ImageUrl], [IsActive]) VALUES (3, N'summer sale', N'25% sale on watches', N'https://res.cloudinary.com/dzycyikqd/image/upload/v1778406063/banners/cgldmm1mwmxc2hgtldwd.webp', 1)
INSERT [dbo].[Banner] ([bid], [btitle], [bdescription], [ImageUrl], [IsActive]) VALUES (4, N'summer sale', N'30% sale on skincare products', N'https://res.cloudinary.com/dzycyikqd/image/upload/v1778406090/banners/kkvaq7tmca1lrwjfg4ta.jpg', 1)
INSERT [dbo].[Banner] ([bid], [btitle], [bdescription], [ImageUrl], [IsActive]) VALUES (5, N'Summer 26', N'26% flat on Mobiles', N'https://res.cloudinary.com/dzycyikqd/image/upload/v1778420039/banners/ffkkv6a3aq6y5h8uxbdu.webp', 1)
SET IDENTITY_INSERT [dbo].[Banner] OFF
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([cid], [cname], [Imageurl]) VALUES (1, N'mobile', N'https://res.cloudinary.com/dzycyikqd/image/upload/v1778414138/categories/gcuh8l48pmkzjk8n0tnu.jpg')
INSERT [dbo].[Category] ([cid], [cname], [Imageurl]) VALUES (2, N'SkinCare', N'https://res.cloudinary.com/dzycyikqd/image/upload/v1777907408/categories/jg53cfkmjxkl8jjz1qix.jpg')
INSERT [dbo].[Category] ([cid], [cname], [Imageurl]) VALUES (3, N'Smart Watches', N'https://res.cloudinary.com/dzycyikqd/image/upload/v1777907592/categories/jnutjdrxtgkyzyzxk4gl.webp')
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[Coupons] ON 

INSERT [dbo].[Coupons] ([Id], [Code], [DiscountValue], [Type], [ExpiryDate], [IsActive], [MinimumAmount], [CreatedAt], [ProductId]) VALUES (1, N'TEST10', CAST(10.00 AS Decimal(18, 2)), N'Percentage', CAST(N'2026-05-20T20:20:30.3145384' AS DateTime2), 1, NULL, CAST(N'2026-05-13T20:20:30.3126715' AS DateTime2), NULL)
INSERT [dbo].[Coupons] ([Id], [Code], [DiscountValue], [Type], [ExpiryDate], [IsActive], [MinimumAmount], [CreatedAt], [ProductId]) VALUES (2, N'SAVE500', CAST(500.00 AS Decimal(18, 2)), N'Fixed', CAST(N'2026-05-20T20:20:30.3146576' AS DateTime2), 1, CAST(1000.00 AS Decimal(18, 2)), CAST(N'2026-05-13T20:20:30.3145890' AS DateTime2), NULL)
INSERT [dbo].[Coupons] ([Id], [Code], [DiscountValue], [Type], [ExpiryDate], [IsActive], [MinimumAmount], [CreatedAt], [ProductId]) VALUES (3, N'sale20', CAST(20.00 AS Decimal(18, 2)), N'Percentage', CAST(N'2026-06-12T00:00:00.0000000' AS DateTime2), 1, CAST(7000.00 AS Decimal(18, 2)), CAST(N'2026-05-13T20:29:55.6535006' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[Coupons] OFF
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([pid], [pname], [pdes], [pprice], [pdis], [pdisprice], [pqty], [Categoryid], [producttype], [createdat], [updatedat]) VALUES (1, N'Zero Bolt Pro', N'Featuring a 1.83-inch HD display, Bluetooth calling, 100+ sports modes, health tracking, Islamic features, and up to 5 days battery life in a sleek premium design.', CAST(20000.00 AS Decimal(18, 2)), CAST(65.00 AS Decimal(18, 2)), CAST(7000.00 AS Decimal(18, 2)), 33, 3, NULL, CAST(N'2026-05-04T19:18:10.3795837' AS DateTime2), CAST(N'2026-05-10T18:03:07.2194237' AS DateTime2))
INSERT [dbo].[Product] ([pid], [pname], [pdes], [pprice], [pdis], [pdisprice], [pqty], [Categoryid], [producttype], [createdat], [updatedat]) VALUES (2, N'samsung', N'expensive looking phone', CAST(70000.00 AS Decimal(18, 2)), CAST(11.00 AS Decimal(18, 2)), CAST(62300.00 AS Decimal(18, 2)), 150, 1, NULL, CAST(N'2026-05-04T20:06:25.5706211' AS DateTime2), CAST(N'2026-05-04T20:06:25.5705060' AS DateTime2))
INSERT [dbo].[Product] ([pid], [pname], [pdes], [pprice], [pdis], [pdisprice], [pqty], [Categoryid], [producttype], [createdat], [updatedat]) VALUES (3, N'SkinPower', N'SkinPower Lipstick Red', CAST(1600.00 AS Decimal(18, 2)), CAST(8.00 AS Decimal(18, 2)), CAST(1472.00 AS Decimal(18, 2)), 59, 2, NULL, CAST(N'2026-05-04T20:10:13.9373463' AS DateTime2), CAST(N'2026-05-04T20:10:13.9373428' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductColor] ON 

INSERT [dbo].[ProductColor] ([Id], [pcolor], [productid]) VALUES (2, N'green', 2)
INSERT [dbo].[ProductColor] ([Id], [pcolor], [productid]) VALUES (3, N'Red', 3)
INSERT [dbo].[ProductColor] ([Id], [pcolor], [productid]) VALUES (4, N'transparent', 4)
SET IDENTITY_INSERT [dbo].[ProductColor] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductImage] ON 

INSERT [dbo].[ProductImage] ([Id], [ImageUrl], [productid]) VALUES (2, N'/images/mobile2.png', 2)
INSERT [dbo].[ProductImage] ([Id], [ImageUrl], [productid]) VALUES (3, N'/images/skii-pink.jpg', 3)
INSERT [dbo].[ProductImage] ([Id], [ImageUrl], [productid]) VALUES (4, N'/images/skin.webp', 4)
SET IDENTITY_INSERT [dbo].[ProductImage] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductSize] ON 

INSERT [dbo].[ProductSize] ([Id], [psize], [productid]) VALUES (2, N'6.1', 2)
INSERT [dbo].[ProductSize] ([Id], [psize], [productid]) VALUES (3, N'normal', 3)
INSERT [dbo].[ProductSize] ([Id], [psize], [productid]) VALUES (4, N'100ml', 4)
SET IDENTITY_INSERT [dbo].[ProductSize] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([uid], [uname], [uemail], [uphone], [upassword], [Image], [urole], [verifycode], [verifycodetime], [verifystatus], [forgotpasscode], [forgotpasstime]) VALUES (1, N'hanan', N'hannanraza53@gmail.com', N'0311111111', N'$2a$11$/hFT5Y2w0ZGW7iAXJUf8QOtSznskM90FKf8Rz1iQTgCtAv97vMsAq', N'https://res.cloudinary.com/dzycyikqd/image/upload/v1777819373/user_profiles/b8xj7x5stwtrm0xz42us.jpg', N'user', NULL, CAST(N'2026-05-03T19:43:19.2228846' AS DateTime2), 1, NULL, NULL)
INSERT [dbo].[User] ([uid], [uname], [uemail], [uphone], [upassword], [Image], [urole], [verifycode], [verifycodetime], [verifystatus], [forgotpasscode], [forgotpasstime]) VALUES (2, N'hannan', N'hananaptech143@gmail.com', N'0100000000', N'$2a$11$gtMCdYtPUhH48sbHPhUnLuF.ITltHZETq3SxZ13dZi0ROR2DLf3tW', N'https://res.cloudinary.com/dzycyikqd/image/upload/v1777903458/user_profiles/nun036pjd22ylflcasdg.png', N'Admin', NULL, CAST(N'2026-05-11T14:29:29.4341677' AS DateTime2), 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[User] OFF
GO
/****** Object:  Index [IX_CartItems_ProductId]    Script Date: 5/16/2026 10:01:35 PM ******/
CREATE NONCLUSTERED INDEX [IX_CartItems_ProductId] ON [dbo].[CartItems]
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CartItems_UserId]    Script Date: 5/16/2026 10:01:35 PM ******/
CREATE NONCLUSTERED INDEX [IX_CartItems_UserId] ON [dbo].[CartItems]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Category_cname]    Script Date: 5/16/2026 10:01:35 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Category_cname] ON [dbo].[Category]
(
	[cname] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Product_Categoryid]    Script Date: 5/16/2026 10:01:35 PM ******/
CREATE NONCLUSTERED INDEX [IX_Product_Categoryid] ON [dbo].[Product]
(
	[Categoryid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProductColor_productid]    Script Date: 5/16/2026 10:01:35 PM ******/
CREATE NONCLUSTERED INDEX [IX_ProductColor_productid] ON [dbo].[ProductColor]
(
	[productid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProductImage_productid]    Script Date: 5/16/2026 10:01:35 PM ******/
CREATE NONCLUSTERED INDEX [IX_ProductImage_productid] ON [dbo].[ProductImage]
(
	[productid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProductSize_productid]    Script Date: 5/16/2026 10:01:35 PM ******/
CREATE NONCLUSTERED INDEX [IX_ProductSize_productid] ON [dbo].[ProductSize]
(
	[productid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_WishlistItems_ProductId]    Script Date: 5/16/2026 10:01:35 PM ******/
CREATE NONCLUSTERED INDEX [IX_WishlistItems_ProductId] ON [dbo].[WishlistItems]
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_WishlistItems_UserId]    Script Date: 5/16/2026 10:01:35 PM ******/
CREATE NONCLUSTERED INDEX [IX_WishlistItems_UserId] ON [dbo].[WishlistItems]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CartItems]  WITH CHECK ADD  CONSTRAINT [FK_CartItems_Product_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([pid])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CartItems] CHECK CONSTRAINT [FK_CartItems_Product_ProductId]
GO
ALTER TABLE [dbo].[CartItems]  WITH CHECK ADD  CONSTRAINT [FK_CartItems_User_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([uid])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CartItems] CHECK CONSTRAINT [FK_CartItems_User_UserId]
GO
ALTER TABLE [dbo].[Coupons]  WITH CHECK ADD  CONSTRAINT [FK_Coupons_Product_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([pid])
GO
ALTER TABLE [dbo].[Coupons] CHECK CONSTRAINT [FK_Coupons_Product_ProductId]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Category_Categoryid] FOREIGN KEY([Categoryid])
REFERENCES [dbo].[Category] ([cid])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Category_Categoryid]
GO
ALTER TABLE [dbo].[ProductColor]  WITH CHECK ADD  CONSTRAINT [FK_ProductColor_Product_productid] FOREIGN KEY([productid])
REFERENCES [dbo].[Product] ([pid])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductColor] CHECK CONSTRAINT [FK_ProductColor_Product_productid]
GO
ALTER TABLE [dbo].[ProductImage]  WITH CHECK ADD  CONSTRAINT [FK_ProductImage_Product_productid] FOREIGN KEY([productid])
REFERENCES [dbo].[Product] ([pid])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductImage] CHECK CONSTRAINT [FK_ProductImage_Product_productid]
GO
ALTER TABLE [dbo].[ProductSize]  WITH CHECK ADD  CONSTRAINT [FK_ProductSize_Product_productid] FOREIGN KEY([productid])
REFERENCES [dbo].[Product] ([pid])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductSize] CHECK CONSTRAINT [FK_ProductSize_Product_productid]
GO
ALTER TABLE [dbo].[WishlistItems]  WITH CHECK ADD  CONSTRAINT [FK_WishlistItems_Product_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([pid])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[WishlistItems] CHECK CONSTRAINT [FK_WishlistItems_Product_ProductId]
GO
ALTER TABLE [dbo].[WishlistItems]  WITH CHECK ADD  CONSTRAINT [FK_WishlistItems_User_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([uid])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[WishlistItems] CHECK CONSTRAINT [FK_WishlistItems_User_UserId]
GO
USE [master]
GO
